body {
    margin: 10px
}

a[href^="https"][href*="google"][href$=".com"] {
    color: orange

}

#products ~ p {
    color: blue;
}

article p:first-of-type {
    font-size: 140%;
    font-style: italic;
}

article :last-child {
    font-style: bold;
    color: blue;
}

ul li:nth-child(odd) {
    color: deeppink;
}

a:visited, a:link {
    color: dodgerblue;
}

a:hover, a:focus {
    color: deeppink
}

